body {

}
.container {
    max-width:900px;
    margin:0 auto;
}
.validation {
    border-radius: 3px;
    background:red;
    color:white;
    padding:3px;
    text-align:center;
    display:none;
    width:100%;
    max-width:400px;
    margin:30px auto;
}
